/* INDEX.HTML */
.main-index {
    background-color: none;
    width: 70%;
    margin: 50px auto 0 auto;
}

.body-index{
    background-color: none;
}

.h1-index {
    font-family: 'Inconsolata', monospace;
    text-align: center;
    margin: 0 auto 30px 15%;
}

.p-index {
    display: none;
}

.img-index {
    display: none;
}

/* NOT NEEDED FOR NOW 
video {
    width: 80%;
    margin-left: 10%;
}

*/

.img-index2 {
    width: 60%;
    margin-left: 20%;
}

@media (max-width:1100px) {

    .main-index {
        width: 90%;
        margin: 50px auto 50px auto;
        position: relative;
    }
    
    .p-index {
        display: inline-block;
        width: 50%;
        text-align: center;
        padding-left: 25%;
        font-family: 'Roboto Mono', monospace;
        color: #83764F;
        font-weight: 900;
    }

    .img-index {
        display:flex;
        position: relative;
        width: 200px;
        margin-top: 0;
        z-index: 0;
        margin: auto;
    }

    /* NOT NEEDED */
    video {
        margin-top:0;
        margin-left: 10%;
        width: 80%;
    }
    /* FOR NOW */

    .span-index {
        display: contents;
    }
}

@media (max-width:1000px) and (min-width:200px) {

.p-index {
    width:80%;
    margin: 10px 10% 0 10%;
    padding-left: 0;
}

.img-index2 {
    display: flex;
    position: relative;
    width: 80%;
    margin: auto;
}

.img-index {
    display:flex;
    position: relative;
    width: 50%;
    margin: 30px auto 10px auto;
    z-index: 0;
}
}
/*  
@media (max-width:1100px) and (min-width:1001px) {

    .p-index {
        width:80%;
        margin: 10px 10% 0 10%;
        padding-left: 0;
    }
    
    .img-index2 {
        display: flex;
        position: relative;
        width: 60%;
        margin: auto;
    }
    
    .img-index {
        display:flex;
        position: relative;
        width: 30%;
        margin: 30px auto 10px auto;
        z-index: 0;
    }
    } */




/* ENDS INDEX>HTML */

/* MAIN */
.main {
    margin: 0 auto;
    height: auto;
}

.logo {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 50px;
    height: 100px;
}

h1 {
    display: inline-block;
    width: 70%;
    font-size: 80px;
    margin: 15px 50px 10px 50px;
    color: #83764F;
    font-family: 'Roboto Mono', monospace;
}

p {
    font-family: 'Inconsolata', monospace;
}

h2 {
    color: black;
    font-weight: bolder;
}
.grid-container {
    display: grid;
    height: 370px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 250px 50px;
    gap: 30px;
    margin: 30px 50px 0 50px;
}

.card {
    margin-top: 20px;
}

.tile-image {
    height: 200px;
}

footer.card {
    grid-column: span 2;
    height: 50px;
    text-align: right;
    margin-top: 20px;
}

.grid-container>.left>h2 {
    display: inline;
}

.grid-container>.left>img {
    float: left;
    margin-right: 5%;
}

.grid-container>.right>h2 {
    display: inline;
}

.grid-container>.right>img {
    float: left;
    margin-right: 5%;
}


@media (max-width:1000px) and (min-width:800px) {
    .card {
        grid-column: span 2;
        margin: auto;
        margin-bottom:50px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 300px 50px;
        gap: 25px;
        margin: 30px 50px 0 50px;
    }

    h1 {
        font-size: 50px;
        text-align: center;
        display: block;
        margin: auto;
    }

    h1 {
        display: none;
    }

    .logo {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 36%;
        width: 28%;
        height: 10%;
    }

    footer.card {
        margin-right: 0;
    }
}

@media (max-width:1200px) and (min-width:1000px) {
    .card {
        grid-column: span 2;
        margin: auto;
        margin-bottom:50px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 25px;
        margin: auto;
        width: 33%;
    }

    h1 {
        display: none;
    }

    .logo {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 36%;
        width: 28%;
        height: 10%;
    }

    footer.card {
        margin-right: 0;
    }
}


@media (max-width:800px) and (min-width:200px) {
    .card {
        grid-column: span 2;
        margin: auto;
        margin-bottom:50px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 25px;
        margin: auto;
        width: 80%;
    }

    h1 {
        display: none;
    }

    .img-index {
        display:flex;
        position: relative;
        width: 50%;
        margin: 30px auto 10px auto;
        z-index: 0;
    }

    footer.card {
        margin-right: 0;
    }

}
